/*
 *  @since 1.2.5
 */

.wt_gc_gift_card_upsell_banner_content {
    margin : 20px 0px;
    width: 100%;
}
.wt_gc_gift_card_pro_feature_banner {
    margin-top: 20px;
    border-left: 6px solid #5454A5;
}
.wt_gc_gift_card_upsell_box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f3f2fd; /* light purple background */
    padding: 16px 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    word-spacing: 1px;
}

.wt_gc_gift_card_upsell_text .wt_gc_gift_card_upsell_title {
    font-weight: bold;
    color: #5454A5;
}
.wt_gc_gift_card_upsell_text {
    flex: 1;
    margin-right: 20px;
    line-height: 1.5;
}

.wt_gc_gift_card_upsell_actions {
    display: flex;
    gap: 10px;
}

.wt_gc_gift_card_upsell_actions .btn-primary, .wt_gc_gift_card_upsell_actions_email_page .btn-primary {
    background: #5454A5; 
    color: #fff;
    padding: 9px 16px;
    text-decoration: none;
    border-radius: 4px;
    width: 100%;
    font-size: 14px;
}

/* Keep white text on visited/focus/active states */
.wt_gc_gift_card_upsell_actions .btn-primary:link,
.wt_gc_gift_card_upsell_actions .btn-primary:visited,
.wt_gc_gift_card_upsell_actions .btn-primary:focus,
.wt_gc_gift_card_upsell_actions .btn-primary:active {
    color: #fff;
    text-decoration: none;
}

.wt_gc_gift_card_upsell_actions .btn-primary:hover, .wt_gc_gift_card_upsell_actions_email_page .btn-primary:hover {
    background: #483bc2;
    color: #fff;
}

.btn-secondary {
    border: 1px solid #5454A5;
    color: #5454A5;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 35px;
}

.btn-secondary:hover {
    background: #e9e6fc;
    color: #483bc2;
}

.wt_gc_gift_card_upsell_banner_content .popup-close {
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    font-size: 17px;
    color: #5454A5;
    font-weight: normal;
    border: none;
    background: none;
}

.wt_gc_gift_card_upsell_actions_email_page .popup-close{
    line-height: 47px;
}

.wt_gc_gift_card_upsell_banner_content .popup-close:hover {
    color: #333;
}

.wt_gc_gift_card_upsell_closed {
    position: absolute;
    top: 24px;
    right: 20px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #666;
    line-height: 1;
}

.wt_gc_gift_card_upsell_closed:hover {
    color: #000;
}

